<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <section  class="contenedorApp">

    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
        <section class="cont__admin--titl">
            <h1 class="titlG">SUMAR PRODUCTO</h1>
        </section>

        <% if(typeof registerErrors != "undefined") {%> 
            <ul class="listadoErrores">
                <% registerErrors.forEach(error => { %> 
                    <li>· <%= error.msg %> </li>
                <% }); %> 
            </ul>
        <% } %> 

        <form action="/products/crear" method="POST" class="reg__form">
            <input class="reg--input" type= "text" name="nombreProducto" placeholder="NOMBRE DEL PRODUCTO" autofocus required>
            <input class="reg--input" type="text" name="descripProducto" placeholder="DESCRIPCIÓN" autofocus required>
            <input class="reg--input" type="number" name="graduacion" placeholder="GRADACIÓN" autofocus required>
            <input class="reg--input" type="number" name="ibu" placeholder="IBU"  autofocus required>
            <input class="reg--input" type="number" name="mililitros" placeholder="MILILITROS" autofocus required>
            <input class="reg--input" type="file" name="imagenProducto" placeholder="IMG" value="IMG" autofocus required>
            <input class="reg--input" type="number" name="precio" placeholder="PRECIO" id="precio" autofocus required>
            
            <input class="reg--submit" type="submit" value="AGREGAR" autofocus>
            
           
        </form>

    </main>
    
    <%-include('./partials/footer.ejs')%>
    
</section>
</body>
</html>