<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
      <p>Creaste la cerveza llamada "<%= newBeer.nombre %>" !</p> 

    </main>
    
    <%-include('./partials/footer.ejs')%>
</section>

</body>
</html>