    <!DOCTYPE html>
    <html lang="en">
	<%-include('./partials/head.ejs')%>

	<body>
	<section class="contenedorApp">	
		
		<%-include('./partials/header.ejs')%>
		

		<main class="contenedorMain">

			<p class="contenedorMain__links">ERROR</p> 
			<p class="contenedorMain__links">Página no encontrada</p> 

			<button href="index" class="btn--volver">
                <a class="volverInicio" href="/">Volver al inicio</a>
        </button></a>

	


		</main>
		
		
		
		<%-include('./partials/footer.ejs')%>
		
		
</section>
</body>
</html>