<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>

    <body>
        <section class="contenedorApp">

            <%-include('./partials/header.ejs')%>


                <main class="contenedorMain">
                    <section class="contErrores">
                        <p class="contenedorMain__links">Lamentablemente esa página no existe</p>
                        <a href="/" class="contImgError"><img class="producto--err" src="/img/errorBirra.png" alt="errorBirra"></a>

                        <button href="index" class="btn--volver">
                <a class="volverInicio" href="/">Volver al inicio</a>
			</button>
                    </section>




                </main>



                <%-include('./partials/footer.ejs')%>


        </section>
    </body>

</html>