/* 
sumar a la base */


@font-face{
    font-family: 'Industry';
    src: url("../static/fonts/Industry.ttf") format("truetype");
}

/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:whitesmoke;
}

html {
    font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1024 - 200)));
 }
 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.contenedorBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(20, 20, 20);
    overflow-x: hidden;
}

.cabeza{
    width: 100%;
}

.navBar {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    background-color: black;
    position: relative;
}


.navBar__menu {
flex:1;
}

.navBar__contenedor--logo {
    align-items: center;
    flex:2;
    display: flex;
    justify-content: center;
}

.logo-navBar {
    align-items: center;
    width: 14vh;
    opacity: .8;
    transition: .4s all;
}

.logo-navBar:hover{
    opacity: 1;
}

.navBar__faq--carrito {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
    flex: 1;
}

.navBar__faq {
    flex:1;
}

.navBar__carrito {
    flex:1;
}

.navBar--imagenes{
    width: 6vh;
    opacity: .7;
    transition: .4s all;
    margin-left: 5%;
}

.navBar--imagenes:hover{
    opacity: 1;
}



.navBar__linksMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    padding: 5%;
    background-color: #616161;
    z-index: 1;
    font-size: 1.9rem;
    opacity: 0;
    left: -100%;
    font-family: 'Industry';
    transition: .7s all;
}

.navBar:hover > .navBar__linksMenu{
    left: 0%;
    opacity: 1;
}

.linksMenu--a{
    padding-bottom: 9%;
    transition: .3s all;
}

.linksMenu--a:hover{
    font-size: 2.05rem;
    color:#86C232;
}


.buscador {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    height: 5vh;
    align-items: center;
    background-color:#3a3d3f;
}

.buscador__formulario {
  border-block-end-style: none; 
  width: 100%; 
  display: flex;
  justify-items: center;
}

.buscador__formulario--input{
    font-size: 1.4rem;
    margin-left: 4%;
    color: white;
    text-align: left;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    transform: 0.4s all;
    border-bottom: white solid 1px;
}


.buscador__lupa{
    width: 3vh;
    margin-right: 2vh;
    transition: .4s all;
}

.buscador__lupa:hover{
    width: 3.6vh;
}

/* MENU BURGUER*/

.menuHamburguesa{
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #222629;
    cursor: pointer;
    transition: .5s all;
}

.menuHamburguesa:active{
    background-color:#61892F;
}

.menuHamburguesa > *{
    width: 70%;
    height: 6%;
    background-color: honeydew;
    margin: 1vh;
    transition: 1s all;
}

.menuHamburguesa:hover .barrita1{
    margin: 0.1vh;
}

.menuHamburguesa:hover .barrita2{
    width: 30%;
}

.menuHamburguesa:hover .barrita3{
    margin: 0.1vh;
}

.menuHamburguesa:active > *{
    background-color: black;
}


/* 
FIN DEL MENU */

    /* HASTA ACA ES EL header */

.contenedorMain {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HASTA ACA ES EL MAIN */

.pie {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    font-size: 2rem;
    background-color:#222629;
    border-top: grey solid 1px;
}

.imagenFooter {
    width: 10vh;
    padding-bottom: 3%;
    opacity: .5;
}

.textoFooter {
    padding-bottom: 4vh;
    text-align: center;
    font-size: 0.7rem;
}


/* 
fin de base */




.cont__portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}

.cont__img__titl{
    width: 100%;
    height: 18vh;
    position: relative;
    background-image: url('../static/img/fondoDB.jpg');
    background-repeat: no-repeat;
    background-size: 129%;
    background-position-x: 87%;
    background-position-y: 50%;
    margin-bottom: 2vh;
}

.portada--titl{
    font-family: 'Industry';
    font-size: 1.6rem;
    width: 30%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 28%;
    transform:translate(-50%)
}

/* .portada--img{
    width: 100%;
    object-fit: none;
    object-position: 64% 35%;
} */

.select--tcerveza{
    width: 90%;
    height: 4vh;
    color: #222629;
    background-color: grey;
    font-family: 'Industry';
    text-align: center;
    border-style: none;
}

.select--option{
    background-color: #222629;
    text-align: center;
    font-size: 1.2rem;
    color: #61892F;
    font-family: 'Industry';
}

.cont__venTodas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 9vh;
}

.btn--vent{
    font-family: 'Industry';
    font-size: .7rem;
    width: 17vh;
    color: #61892F;
    padding: 1%;
    background-color: #222629;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

.btn--vent:hover{
    color: white;
    background-color: #6B6E70;
}

.section--titl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vh;
    background-color:  #6B6E70;
    font-family: 'Industry';
    font-size: 1rem;
}




.block__productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}


.block__producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}



.cont__producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    padding:2% 2%;
}

.cont__producto--pp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    padding:2% 2%;
}


.producto--img{
    width: 100%;
    border: solid grey .07vh;
}

.producto__info{
    font-family: 'Industry';
    font-size: 1rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 1.5vh;
}

.producto__info--pp{
    font-family: 'Industry';
    font-size: 1rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
}

.info--precioMl{
    font-family: 'Industry';
    display: flex;
    justify-content: space-between;
    padding-top: .3vh;
}

.cont__cant__agregar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}


.cont__cant__agregar--pp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.cont__cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vh;
    width: 100%;
}

.btn--cant{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Industry';
    background-color: black;
    border: grey solid .3vh;
    padding:4%;
    margin: 0.4vh;
    width:5vh;
    height: 5vh;
    font-size: 1.2rem;
    color:#ffffff;
    transition: 0.3s all;
}

.btn--cant:hover{
    color:#86C232;
}


.btn--agregar{
    width: 100%;
    font-family: 'Industry';
    font-size: 0.9rem;
    background-color: black;
    border: grey solid .3vh;
    padding: 4%;
    color:#61892F;
    transition: 0.3s all;
}

.btn--agregar:hover{
    color: white;
    font-size: 1.1rem;
    
}

.producto--desc{
    text-align: center;
    padding:0 10% 10% 10%;
}

.cont__form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 70vh;
}

.log--input{
    background-color: grey;
    font-family: 'Industry';
    border: none;
    padding: 6%;
    margin-bottom: 10%;
    width: 100%;
    height: 7vh;
    transition: 0.4s all;
}

.log--input:hover{
    color:#D9B08C;
    background-color: rgb(80, 80, 80);
}

.log--submit{
    background-color: grey;
    width: 100%;
    height: 7vh;
    font-family: 'Industry';
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    transition: 0.4s all;
    position: absolute;
    bottom: 10%;
}

.log--submit:hover{
    color: grey;
    background-color: #222629;
}

.log--submit:active{
    color:#61892F;
}

.logLogo{
    width: 50%;
    padding: 10%;
}

.cont__faq{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.cont__snos{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    background-image: url('../static/img/lupuloOscuro.jpg');
    padding: 2%;
}


.titl{
    font-family: 'Industry';
    font-size: 1.2rem;
    padding-top: 6%;
}
.titlG{
    font-family: 'Industry';
    font-size: 2rem;
    padding: 2%;
}

.parrafo{
    text-align: left;
    font-size: 1rem;
    padding: 2% 7% 2% 7%;
}

.parrafoG{
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 7% 2% 7%;
}

.cont__btn--volver{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    width: 80%;

}

.btn--volver{
    /* position: absolute;
    bottom: 10%; */
    font-family: 'Industry';
    font-size: 1rem;
    height: 5vh;
    width: 60%;
    color: #61892F;
    background-color: #222629;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    margin: 1.5vh;
}

.btn--volver:hover{
    color: white;
    background-color: #6B6E70;
}

.cont__admin--titl{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    width: 90%;

}

.cont__admin--btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    padding-top: 10vh;
}

.cont__admin--btn{
    width: 100%;
    font-size:2rem;
}

.btn--adm{
    /* position: absolute;
    bottom: 10%; */
    font-family: 'Industry';
    font-size: 1.3rem;
    height: 10vh;
    width: 75%;
    background-color:#cecece;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    margin: 1.5vh;
}

.btn--adm > *{
    color: rgb(32, 32, 32);
}

.btn--adm:hover{
    background-color: grey;
}

.btn--adm:hover >*{
    color: white;
}
.reg__form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 70vh;
}

.reg--input{
    background-color: grey;
    font-family: 'Industry';
    border: none;
    padding: 6%;
    margin-bottom: 8%;
    width: 100%;
    height: 7vh;
    transition: 0.4s all;
}

.reg--input:hover{
    color:#D9B08C;
    background-color: rgb(80, 80, 80);
}

.reg--submit{
    background-color: grey;
    width: 100%;
    height: 7vh;
    font-family: 'Industry';
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    transition: 0.4s all;
    position: absolute;
    bottom: 10%;
}

.reg--submit:hover{
    color: grey;
    background-color: #222629;
}

.reg--submit:active{
    color:#61892F;
}

.registro{
    display:flex;
    width: 100%;
    padding-bottom: 12%;
    padding-top: 7%;
}
.registrate{
    font-family: "industry";
    font-size: 1.9rem;
    flex:1;
    margin-left: 2%;
    color: #61892F
}
.link_log{
    font-family: "industry";
    font-size: 1rem;
    padding-left: 20%;
    flex:1;
   
}
