* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62%;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.contenedorBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navBar {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    background-color: black;
}


.navBar__menu {
flex:1;
}

.navBar__contenedor--logo {
    width: 40%;
    align-items: center;
    flex:2;
    display: flex;
    justify-content: center;
}

.logo-navBar {
    align-items: center;
}

.navBar__faq--carrito {
    display: flex;
flex:1;
}

.navBar__faq {
    flex:1;
}

.navBar__carrito {
    flex:1;
}

.buscador {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    height: 5vh;
    align-items: center;
    background-color:#6B6E70;
}

.buscador__formulario {
     
}

/* MENU */

.menuH{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #222629;
    cursor: pointer;
}

.barrita1, .barrita2, .barrita3{
    width: 70%;
    height: 6%;
    background-color: honeydew;
    margin: 1vh;
    transition: 1s all;
}

.menuH:hover .barrita1{
    margin: 0.1vh;
}
.menuH:hover .barrita3{
    margin: 0.1vh;
}
/* 
FIN DEL MENU */

    /* HASTA ACA ES EL header */

.contenedorMain {
    width: 100%;
    min-height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HASTA ACA ES EL MAIN */

.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2rem;
    background-color:#222629;
    border-top: grey solid 1px;
}

.imagenFooter {
    width: 15%;
    padding-bottom: 3%;
}

.textoFooter {
    text-align: center;
    font-size: 1rem;
}