<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
      
        
        <p class="contenedorMain__links">¡Registro exitoso!</p> 
        <br>

        <button href="index" class="btn--volver">
            <a class="volverInicio" href="/">Volver al inicio</a>
        </button></a>

        <button href="/users/login" class="btn--volver">
            <a class="volverInicio" href="/users/login">Loguearme</a>
        </button></a>

            

    </main>
    
    <%-include('./partials/footer.ejs')%>
</section>

</body>
</html>