<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>

    <body>
        <section class="contenedorApp">
            <%-include('./partials/header.ejs')%>

                <main class="contenedorMain">


                    <p class="contenedorMain__links">¡Felicitaciones
                        <%= usuarioActivo.nombre %>!</p>´
                        <p>compraste</p>
                
                    
                    <a href="/" class="btn--volver">Volver al inicio</a>




                </main>

                <%-include('./partials/footer.ejs')%>
        </section>

    </body>

</html>