<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>

    <body>
        <section class="contenedorApp">
            <%-include('./partials/header.ejs')%>

                <main class="contenedorMain">


                    <p class="contenedorMain__links">¡Bienvenido
                        <%= usuarioActivo.nombre %>!</p>
                    <br>
                    <% if(usuarioAdmin){%>
                        <a class="btn--volver" href="/products/createForm">Crear nuevo producto</a>
                        <%}%>
                            <a href="/" class="btn--volver">Volver al inicio</a>




                </main>

                <%-include('./partials/footer.ejs')%>
        </section>

    </body>

</html>