<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
      
        
        <p class="contenedorMain__links">¡Bienvenido <%= usuarioLogueado.nombre %>!</p> 
        <br>
        <% if(usuarioAdmin){%>
        <button href="index" class="btn--volver">
            <a class="volverInicio" href="/products/form">Crear,modificar,borrar</a>
        </button>
        <%}%>
        <button href="index" class="btn--volver">
            <a class="volverInicio" href="/">Volver al inicio</a>
        </button></a>

        
            

    </main>
    
    <%-include('./partials/footer.ejs')%>
</section>

</body>
</html>